<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299593495023-q16gogv4peq2t90p0g3iv92dgffo5ul9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299593495023-q16gogv4peq2t90p0g3iv92dgffo5ul9</string>
	<key>API_KEY</key>
	<string>AIzaSyBR0B3f1UMG3I-EraLW64qk_ErtneQt2jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>299593495023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.garbageDisposalApp</string>
	<key>PROJECT_ID</key>
	<string>recycleapp-e311d</string>
	<key>STORAGE_BUCKET</key>
	<string>recycleapp-e311d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299593495023:ios:21573b14666411cdc6c61a</string>
</dict>
</plist>